<ul>
  <% @questions.each do |q| %>
    <li>
      <%= link_to "Show", q %>
      <%= link_to "Edit", edit_question_path(q) %>
      <%= link_to "Delete", q, :method => :delete, :confirm => "Are you sure?" %>
      <pre><%= q.content %></pre>
    </li>
  <% end %>
</ul>